.container {
    background-color: rgb(255, 255, 255);
    margin-left:50px;
    margin-top:20px;
    padding-top:10px;
    padding-bottom:15px;
    width:800px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}
.radio-toolbar label {
    display: block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color:rgb(177, 161, 223);
    border-color: rgb(77, 63, 117);
}
.radio-toolbar label:hover {
    background-color: rgb(177, 161, 223);
    cursor:pointer;
}

h2 {
    font-size:22px;
    margin-top:15px;
    margin-bottom:15px;
}

#questiontop {
    font-size:14px;
    font-weight: bold;
}

#backToStart {
    padding-top:10px;
}
